<header>
    <div class="sidebar">
        <div class="profile-picture">
            <img src="{{ '/assets/images/Zizmotrex_logo.png' | relative_url }}" alt="Profile Picture">
        </div>
        <div class="sidebar-title">
            <p>ZIZMOTREX</p>
        </div>
        <div class="sidebar-subtitle">
            <p>Learning blog</p>
        </div>
        <div class="social-media">
            <a href="https://linkedin.com/in/{{ site.author.linkedin }}" target="_blank">
				<i class="fa-brands fa-linkedin-in fa-xl" style="color: #ec4d37;"></i>
			</a>
            <a href="https://twitter.com/your-twitter-handle" target="_blank">
                <i class="fa-brands fa-twitter fa-xl" style="color: #ec4d37;"></i>
            </a>
            <a href="https://github.com/ouazizmed" target="_blank">
                <i class="fa-brands fa-github fa-xl" style="color: #ec4d37;"></i>
            </a>
        </div>
    </div>
</header>
