body {
    margin: 0;
    padding: 0;
}

main {
    padding-left: 350px;
}


.sidebar {
    background-color: #27464d;
    width: 350px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 1rem;
}

.sidebar .profile-picture img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.sidebar .social-media {
    margin-top: 1rem;
}

.sidebar .social-media a {
    margin-right: 1rem;
}

.sidebar .social-media a:last-child {
    margin-right: 0;
}

.sidebar .social-media img {
    width: 24px;
    height: 24px;
}
